{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}
    {% include 'includes/search_form.html' %}
    <hr>
        <form method="get">
            {% bootstrap_form filter.form %}
            <button class="btn btn-info">Применить</button>
        </form>
    <hr>

<div class="row container">
    {% for post in filter.qs %}
    <h2 class="container p-2 my-5 bg-dark text-white"> POST </h2>

<div> POST: {{ post.name }} </div>

<div> AUTHOR {{ post.creator }}</div>

</div>
            {% if post.photo %}
                <div>
                    <img src="{{ post.photo.url}}" height="200px">
                </div>
            {% endif %}

  <a href="/post/">
    {{ post.name }} </a>
    {% endfor %}
</div>
{% endblock %}