<!doctype html>
{% load static %}
{% load django_bootstrap5 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Social НЭТ</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <link
            rel="stylesheet"
            href="{% static 'main.css' %}"
    >


</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <img src="{% static 'logo.png.png' %}" height="40px">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">Главная</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'shorts-list' %}">Shorts</a>
              </li>
              {% if request.user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'saved-posts' %}">SavedPosts</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'add-post' %}">Добавить пост</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'add-short' %}">Добавить short</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'sign-out' %}">Выход</a>
                </li>
              {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'registration' %}">Регистрация</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'sign-in' %}">Вход</a>
                </li>
              {% endif %}
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="text" placeholder="Search">
              <button class="btn btn-danger" type="button">Search</button>
            </form>
          </div>
        </div>
    </nav>
    <div class="row">
        <div class="col-3">
            <a class="navbar-brand" href="/">
                <img src="{% static 'logo.png.png' %}" height="40px">
                Social NET
            </a>
            <div>
                {% if request.user.is_authenticated %}
                    Привет, {{ request.user.username }}
                {% else %}
                    Пожалуйста, авторизуйтесь
                {% endif %}
            </div>
            <div class="my-focus">
                <a href="/">
                    Главная
                </a>
            </div>
            <div class="my-focus">
              <a href="{% url 'about' %}">
                О нас
              </a>
            </div>
            <div class="my-focus">
              <a href="{% url 'contacts' %}">
                Контакты
              </a>
            </div>
            <div class="my-focus">
              <a href="{% url 'workers' %}">
                Список работников
              </a>
            </div>
            <div class="my-focus">
              <a href="{% url 'faq' %}">
                  Часто задаваемые вопросы(FAQ)
              </a>
            </div>
            <div class="my-focus">
                <a href="{% url 'search' %}">
                    Поиск
                </a>
            </div>
            <div class="my-focus">Интересное</div>
            <div class="my-focus">
                <a href="{% url 'shorts-list' %}">
                    Short
                </a>
            </div>
          {% if request.user.is_authenticated %}
            <div class="my-focus">Сообщение</div>
            <div class="my-focus">
                <a href="{% url 'notification' %}">
                    Уведомление -
                    {{ request.user.notification_set.count }}
                </a>
            </div>
            {% if request.user.profile %}
                <div class="my-focus">
                    <a href="{% url 'profile' request.user.profile.id %}">
                        Профиль
                    </a>
                </div>
            {% else %}
                <div class="my-focus">
                    <a href="{% url 'add-profile' %}">
                        Добавить профиль
                    </a>
                </div>
            {% endif %}
            <div class="my-focus">
                <a href="{% url 'add-short' %}">
                    Добавить short
                </a>
            </div>
            <div class="my-focus">
                <a href="{% url 'add-post' %}">
                    Добавить пост
                </a>
            </div>
            <div class="my-focus">
                <a href="{% url 'make-post' %}">
                    Добавить другой пост
                </a>
            </div>
          {% else %}
            <div class="my-focus">
                <a href="{% url 'registration' %}">Регистрация</a>
            </div>
            <div class="my-focus">
                <a href="{% url 'sign-in' %}">Вход</a>
            </div>
          {% endif %}
        </div>
        <div class="col-9">
          {% if messages %}
            <div class="messages">
              {% for message in messages %}
                <div
                  {% if message.tags %}
                    class="alert alert-{{ message.tags }}"
                  {% endif %}
                >
                  {{ message }}
                </div>
              {% endfor %}
            </div>
          {% endif %}
          {% block content %}
            <h1>hello world</h1>
          {% endblock %}
        </div>
    </div>
</body>
</html>