{% extends 'base.html' %}
{% block content %}
    <div class="row">
        {% for short in shorts %}
            <div class="col">
                <a href="{% url 'shorts-info-cbv' short.id %} ">
                    <div>
                        <video
                             class="custom-circle"
                             width="100px"
                             src="{{ short.video.url }}">
                        </video>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    <hr>
    {% include 'includes/search_form.html' %}


<h2>Посты</h2>

    {% for post in posts %} <!-- posts является контекстом, то есть списком постов -->
        <div>
            <a href="{% url 'user-posts' post.creator.id %}">
                {{ post.creator.username }}
            </a>
        </div>
        <div>
            {% if post.photo %}
                <a href="{% url 'post-detail' post.id %}">
                    <img src="{{ post.photo.url }}" height="200px">
                </a>
            {% endif %}
        </div>
    {% endfor %}

<h2>Категории</h2>
<ul>
    {% for category in categories %}  <!-- catigories является контекстом, то есть списком категории -->
        <li>
            <a href="/categories/{{ category.id }}">
            {{ category.name }}
            </a>
        </li>
    {% endfor %}
</ul>
<h2>Видео</h2>
<ul>
    {% for short in shorts %}  <!-- shorts является контекстом, то есть списком шортсов-->
        <li>
            <a href="/short-cbv/{{ short.id }}">
            {{ short.video }}
            </a>
        </li>
    {% endfor %}
</ul>
{% endblock %}








