{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}
{% include 'includes/search_form.html' %}
<h2>Пост</h2>

{% if post.creator %}
    <div>
        Автор :
        <a href="{% url 'user-posts' post.creator.id %}">
            {{ post.creator.username }}
        </a>
    </div>
{% endif %}
<div>
    Заголовок: {{ post.name }}
</div>
    {% if post.photo %}
    <img src="{{ post.photo.url }}" height="200x">
    {% endif %}

<div>
    Описание: {{ post.description }}
</div>
<div>
    Кол-во лайков: {{ post.likes }}
</div>
<div>
    <p>
    <form method="POST">
        {% csrf_token %}
        <button class="btn btn-primary">Like</button>
        <input name="like">
    </form>
    </p>
</div>
<div>
    <p>
    <form method="POST">
        {% csrf_token %}
        <button class="btn btn-primary">Dislike</button>
        <input name="dislike">
    </form>
    </p>
</div>
<div>
    {% if post in request.user.saved_posts.post.all %}
        <form action="/remove-saved/" method="POST">
            {% csrf_token %}
            <input type="number" name="post_id" value="{{ post.id }}" hidden>
            <button class="btn btn-danger">Удалить из Сохраннённого</button>
        </form>
    {% else %}
        <form action="/add-saved/" method="POST">
            {% csrf_token %}
            <input type="number" name="post_id" value="{{ post.id }}" hidden>
            <button class="btn btn-success">Добавить в Сохронённое </button>

        </form>
    {% endif %}
</div>
<br>
<h3>Добавить комментарий</h3>
<form method="POST">
    {% csrf_token %}
    {% bootstrap_form comment_form %}
    <p>
    <button class="btn btn-info">Добавить</button>
    </p>
</form>
<div>
    {% if request.user == post.creator %}
        <p>
            <a class="btn btn-success" href="{% url 'update-post' post.id %}">Изменить описание</a>
        </p>
        <p>
            <a class="btn btn-danger" href="{% url 'delete-post' post.id %}">Удалить пост</a>
        </p>
    {% endif %}
</div>    

<h4>Коментарии</h4>
{% for comment in comments %}
    <div>
        <b>{{ comment.created_by }}</b>
        {{ comment.comment_text }}
        {% if request.user == comment.created_by %}
        <a href="{% url 'update-comment' comment.id %}">Изменить</a>
        <a href="{% url 'delete-comment' comment.id %}">Удалить</a>
        {% endif %}
    </div>
{% endfor %}

{% endblock %}

