{% extends 'base.html' %}
{% block content %}
<h2>Видео</h2>
<div> Видео : {{ short.video }}</div>
<div> Автор : {{ short.user }}</div>
<div> Добавлено : {{ short.created_at }}</div>
<video width="500" controls src="{{ short.video.url }}">
      Your browser does not support the video tag.
</video>
<div> Просмотры : {{ short.views_qty }}</div>
<div>
    Уникальные просмотры: {{ short.viewed_users.count }}
</div>
<div>
    Описание: {{ short.description }}
</div>
<a href="{% url 'update-short' short.id %}" class="btn btn-info">Изменить</a>
{% endblock %}
